(
    patches: {
        "warhammer_3": (
            tables: {
                "unit_special_abilities_tables": {
                    "autoresolver_usage": {
                        "not_empty": "true",
                        "default_value": "default",
                        "explanation": "Confirmed crashes if left empty.",
                    },
                },
                "battle_entities_tables": {
                    "locomotion_constant": {
                        "default_value": "small_entity",
                        "not_empty": "true",
                        "explanation": "According to Mixu, this column crashes if empty.",
                    },
                },
                "battle_vortexs_tables": {
                    "shape": {
                        "not_empty": "true",
                        "default_value": "circle",
                        "explanation": "According to Mixu, this column crashes if empty.",
                    },
                },
                "pooled_resources_tables": {
                    "scope": {
                        "explanation": "According to Mixu, this column crashes if empty.",
                        "default_value": "FACTION",
                        "not_empty": "true",
                    },
                    "income_policy": {
                        "not_empty": "true",
                        "explanation": "According to Mixu, this column crashes if empty.",
                        "default_value": "END_OF_ROUND",
                    },
                },
                "land_units_tables": {
                    "score_capture_tier": {
                        "default_value": "domination_infantry",
                        "not_empty": "true",
                        "explanation": "According to Mixu, this column crashes if empty.",
                    },
                    "key_building_capture_tier": {
                        "not_empty": "true",
                        "explanation": "According to Mixu, this column crashes if empty.",
                        "default_value": "medium",
                    },
                    "capture_tier": {
                        "not_empty": "true",
                        "explanation": "According to Mixu, this column crashes if empty.",
                        "default_value": "medium",
                    },
                },
                "battle_set_pieces_tables": {
                    "culture": {
                        "default_value": "*",
                        "not_empty": "true",
                        "explanation": "This column crashes the game if left empty.",
                    },
                },
                "agent_subtypes_tables": {
                    "saving_settings": {
                        "not_empty": "true",
                        "default_value": "can_be_saved_loaded",
                        "explanation": "This column is suspect of crashes when left empty.",
                    },
                },
            },
        ),
    },
)